body {
	background-color: #E5E5E5;
	font-family: 'Montserrat', sans-serif;
}
#logo {
	float: left;
}
#logo-link {
	margin-top: -7px;
}
.navbar-inverse {
	background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    height: 65px
}
#nav-container {
	margin-top: 6px;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 18px;
	font-weight: 500;
	color: #333;
}

/* authentication pages */
#signup-button {
    width: 130px;
    height: 40px;
    padding-top: 9px;
    color: #fff;
    margin-top: 5px;
    background: #2f80ed;
    border-color: #2f80ed;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}
#signup-button:hover {
	background: #fff;
	color: #2f80ed;
}
.signin-div {
	width: 70%;
    height: auto;
    padding-bottom: 40px;
    background: #fff;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 110px;
}
#login-link {
	color: #2f80ed;
}
.login {
	font-size: 32px;
	color: #000;
	text-align: center;
	padding-top: 50px;
    margin-bottom: 20px;
}
#signin-form {
	width: 65%;
    margin: 0 auto;
    padding-top: 10px;
}
#signin-button {
	width: 100%;
	height: 50px;
	border-radius: 4px;
	background: #2f80ed;
	border-color: #2f80ed;
	color: #fff;
	font-size: 22px;
	font-weight: 600;
	padding-top: 3px;
}
#signin-button:hover {
	background: #fff;
	color: #2f80ed;
}
.form-control {
	height: 50px;
	border: 1px solid #bdbdbd;
}
.signin-line {
	border: 1px solid #bdbdbd;
    height: 1px;
    position: relative;
    max-width: 100%;
    text-align: center;
    margin-top: 70px;
}
.signin-with {
	font-size: 28px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #828282;
    position: relative;
    top: -18px;
    padding: 0 60px;
    background-color: #fff;
}
.socials {
	padding-left: 30px;
    padding-right: 30px;
}
#googleplus {
	background: #dd5125;
	border-color: #dd5125;
	color: #fff;
	font-size: 21px;
}
#googleplus:hover {
	background: #fff;
	color: #dd5125;
}
#facebook {
	background: #3b5998;
	border-color: #3b5998;
	color: #fff;
	font-size: 21px;
}
#facebook:hover {
	background: #fff;
	color: #3b5998;
}
#twitter {
	background: #1da1f2;
	border-color: #1da1f2;
	color: #fff;
	font-size: 21px;
}
#twitter:hover {
	background: #fff;
	color: #1da1f2;
}
#socials-div {
	margin: 60px 0;
	text-align: center; 
}
.noaccount {
	font-size: 22px;
	font-weight: 500;
}
#forgot {
	margin-top: -10px;
}

/* footer section */
footer {
	background: #2f80ed;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 30px;
}
#footerlinks-div {
	float: right;
}
footer p {
	font-size: 16px;
}
footer a, footer a:hover {
	color: #fff;
}
.address {
	font-weight: 600;
}
.links {
	margin-left: 30px;
	font-size: 20px;
}
#footerlinks-div a {
	color: #fff;
}
#subscribe-div {
	margin-top: 30px;
}
#newsletter-email {
	background: transparent;
	height: 40px;
	color: #fff;
}
#subscribe {
	color: #06d6a0;
	background: #fff;
	height: 40px;
	padding: 0 20px;
	font-size: 13px;
	text-transform: uppercase;
}
#copy {
	margin-top: 20px;
}
.space {
	margin-top: -10px;
}
.change-color::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.change-color:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.change-color:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.change-color::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle, 
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #2f80ed;
	border-color: #2f80ed;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #2f80ed;
}
.navbar-inverse .navbar-nav>li>a:hover {
	background: transparent;
	font-weight: bold;
	color: #000;
}

/* reset page */
#reset {
	font-size: 24px;
	font-weight: 500;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
}
#cancel {
	font-size: 24px;
	font-weight: 600;
	margin-top: 20px;
}
#cancel a {
	color: #2f80ed;
}

/* landing page */ 
#main-page {
	padding-top: 30px;
	padding-bottom: 80px;
}
#verify {
	width: 95%;
    font-size: 72px;
    color: #2f80ed;
    font-weight: bold;
}
.search {
	position: relative;
    top: 35px;
    left: 14px;
}
#search-input {
	padding-left: 35px;
}
#get-started {
    width: 240px;
    height: 50px;
    background: #2f80ed;
    border-color: #2f80ed;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
#get-started:hover {
	background: #fff;
	color: #2f80ed;
}
a:hover {
	text-decoration: none;
}
#contributed {
	width: 90%;
	font-size: 28px;
    color: #333;
    font-weight: 500;
    margin-top: 10px;
    line-height: 30px;
}
#contributor {
	color: #2196f3;
    font-size: 22px;
}
#landing-line {
	border: 0.7px solid #2196f3;
}
#recent-blog {
	font-size: 24px;
	font-weight: 500;
}
#blog-post li {
	font-size: 18px;
	color: #2196f3;
}
#blog-post li a, .blog-link {
	color: #000;
}
#landing-copyright {
	font-size: 20px;
	line-height: 24px;
	float: right;
	padding-bottom: 25px;
}

/* user dashboard */
.dashboard-container {
	padding: 20px 10px 8px 10px;
	margin-left: 50px;
	margin-bottom: -14px;
}
.user-search {
	padding-left: 20px;
	background: #fafafa;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
}
.usersearch {
	position: relative;
	float: right;
    top: -33px;
    right: 20px;
}
.dashboard-row {
	margin-right: -70px;
}
#dashboard-blog {
	font-size: 18px;
    font-weight: 500;
	margin-top: 13px;
}
#dashboard-blog a{
	color: #333;
}
.dashboard-dropdown {
	float: right;
	margin-top: 8px;
}
.create-post {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: #2f80ed;
    border-color: #2f80ed;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
}
.dash-icon {
	display: inline-block;
    position: relative;
    margin-top: 13px;
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}
.dash-icon i {
	color: #78abf1;
    font-size: 25px;
}
.dash-icon p {
	display: inline-block;
    width: 15.2px;
    height: 15.2px;
    border-radius: 72px;
    background-color: #fa1212;
    position: relative;
    top: -40px;
    left: 15px;
    font-size: 10.1px;
    line-height: normal;
    padding-left: 5px;
    padding-top: 1px;
}
.dash-icon a p {
	color: #fff;
}
.user-div {
	width: 400px;
	height: 330px;
	margin: 0 auto;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.user-container {
	padding-top: 40px;
	padding-bottom: 40px;
}
.users {
	color: #2f80ed;
	font-size: 24px;
	font-weight: 500;
	padding: 20px 20px 0 20px;
}
.user-line {
	border: 0.7px solid #bdbdbd;
}
.user-number {
	font-size: 36px;
	font-weight: 600;
	color: #3d3d3d;
}
.user-view {
    padding-left: 40px;
    padding-right: 40px;
    background: #2196f3;
    border-color: #2196f3;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    font-size: 22px;
}

/* search result page */
#found {
	font-size: 24px;
	margin-bottom: 15px;
}
#developer {
	color: #2f80ed;
}
#search-container {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
#search-div {
	border: 0.7px solid #bdbdbd;
	border-radius: 4px;
}
#return {
	font-size: 18px;
	padding: 15px 5px 0 15px;
}
.result-box {
	border: 1px solid rgba(189, 189, 189, 0.12);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	margin: 20px;
	margin-bottom: 30px;
    padding: 20px;
}
.blog-username {
	font-size: 18px;
	color: #2f80ed;
}
.blog-topic {
	font-size: 22px;
	font-weight: 500;
	margin-top: -10px;
}
.blog-content {
	font-size: 16px;
}
.read-more, .blog-icon {
	color: #2f80ed;
}
.post-time {
	color: #828282;
	font-weight: 500;
}
.label {
	border: 0.5px solid #e0e0e0;
	color: #4f4f4f;
	font-size: 10px;
}
#comment {
	margin-right: -40px;
}
.label-default {
	background: #f7f7f7;
}
#label-div {
	margin-left: -40px;
}
@media screen and (max-width: 767px) {
	#googleplus, #facebook, #twitter {
		margin-bottom: 10px;
	}
	#nav-container {
		background: #fff;
	}
	#footerlinks-div, .pull-right  {
		float: left!important;
	}
	#newsletter-email {
		width: 60%;
    	float: left;
	}
	#subscribe {
		float: left;
    	margin-left: 5px;
	}
	.dashboard-row {
    	margin-right: 0;
	}
	#label-div {
		margin-left: 0;
	}
}
@media screen and (max-width: 500px) {
	.login {
    	font-size: 25px;
	}
	#signin-button {
		/*width: auto;*/
		font-size: 19px;
	}
	.signin-div {
    	width: 90%; 
	}
	#reset {
    	font-size: 22px;
	}
	.user-div {
		width: auto;
	}
}
@media screen and (max-width: 330px) {
	#signin-button {
		width: auto;
	}
}
@media screen and (min-width: 770px) and (max-width: 1000px) {
	.create-post {
		font-size: 15px;
	}
	.user-div {
		width: auto;
	}
}
@media screen and (min-width: 500px) and (max-width: 768px) {
	.create-row {
        width: 70%;
    }
}