body {
	background-color: #E5E5E5;
	font-family: 'Montserrat', sans-serif;
}
#logo {
	float: left;
}
#logo-link {
	margin-top: -14px;
}
.navbar-inverse {
	background-color: #fff;
    border-color: #fff;
    border-radius: 0;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    height: 65px
}
#nav-container {
	margin-top: 6px;
}
.navbar-inverse .navbar-nav>li>a {
	font-size: 18px;
	font-weight: 500;
	color: #333;
}

/* authentication pages */
#signup-button {
    width: 130px;
    height: 40px;
    padding-top: 9px;
    color: #fff;
    margin-top: 5px;
    background: #6699cc;
    border-color: #6699cc;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
}
#signup-button:hover, .load:hover {
	background: #fff;
	color: #6699cc;
}
.signin-div {
	width: 50%;
    height: auto;
    padding-bottom: 40px;
    background: #fff;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 110px;
}
.login {
	font-size: 30px;
	color: #000;
	text-align: center;
	padding-top: 50px;
    margin-bottom: 20px;
}
#signin-form {
	width: 65%;
    margin: 0 auto;
    padding-top: 10px;
}
#signin-button {
	width: 100%;
	height: 50px;
	border-radius: 7px;
	background: #6699cc;
	border-color: #6699cc;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding-top: 3px;
}
#signin-button:hover {
	background: #fff;
	color: #6699cc;
}
.form-control {
	height: 50px;
	border: 1px solid #bdbdbd;
	font-size: 18px;
}
.signin-line {
	border: 1px solid #bdbdbd;
    height: 1px;
    position: relative;
    max-width: 100%;
    text-align: center;
    margin-top: 70px;
}
.signin-with {
	font-size: 28px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #828282;
    position: relative;
    top: -18px;
    padding: 0 60px;
    background-color: #fff;
}
.socials {
	padding-left: 20px;
    padding-right: 20px;
}
#linkedin {
	background: #0077b7;
	border-color: #0077b7;
	color: #fff;
	font-size: 21px;
}
#googleplus:hover {
	background: #fff;
	color: #dd5125;
}
#facebook {
	background: #3b5998;
	border-color: #3b5998;
	color: #fff;
	font-size: 21px;
}
#facebook:hover {
	background: #fff;
	color: #3b5998;
}
#twitter {
	background: #1da1f2;
	border-color: #1da1f2;
	color: #fff;
	font-size: 21px;
}
#twitter:hover {
	background: #fff;
	color: #1da1f2;
}
#socials-div {
	margin: 60px 0;
	text-align: center; 
}
.noaccount {
	font-size: 22px;
	font-weight: 500;
}
.noaccount p span a, #cancel a, .read-more, #developer {
	color: #6699cc;
}
#forgot {
	margin-top: -10px;
}

/* footer section */
footer {
	background: #6699cc;
	color: #fff;
	padding-top: 40px;
	padding-bottom: 30px;
}
#footerlinks-div {
	float: right;
}
footer p {
	font-size: 16px;
}
footer a, footer a:hover {
	color: #fff;
}
.address {
	font-weight: 600;
}
.links {
	margin-left: 30px;
	font-size: 20px;
}
#footerlinks-div a {
	color: #fff;
}
#subscribe-div {
	margin-top: 30px;
}
#newsletter-email {
	background: transparent;
	height: 40px;
	color: #fff;
}
#subscribe {
	color: #6699cc;
	background: #fff;
	height: 40px;
	padding: 0 20px;
	font-size: 13px;
	text-transform: uppercase;
}
#copy {
	margin-top: 20px;
}
.space {
	margin-top: -10px;
}
.change-color::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
.change-color:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
.change-color:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.change-color::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
.navbar-inverse .navbar-toggle, .navbar-inverse .navbar-toggle, 
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
	background: #6699cc;
	border-color: #6699cc;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
	border-color: #6699cc;
}
.navbar-inverse .navbar-nav>li>a:hover {
	background: transparent;
	font-weight: bold;
	color: #000;
}

/* reset page */
#reset {
	font-size: 22px;
	font-weight: 500;
	padding: 10px 0;
	text-align: center;
	margin-bottom: 20px;
}
#cancel {
	font-size: 21px;
	font-weight: 600;
	margin-top: 20px;
}

/* landing page */ 
#main-page {
	padding-top: 30px;
	padding-bottom: 80px;
}
#verify {
	width: 95%;
    font-size: 72px;
    color: #6699cc;
    font-weight: bold;
}
.search {
	position: relative;
    top: 35px;
    left: 14px;
}
#search-input {
	padding-left: 35px;
}
#get-started {
    width: 240px;
    height: 50px;
    background: #6699cc;
    border-color: #6699cc;
    padding-top: 7px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
}
#get-started:hover {
	background: #fff;
	color: #6699cc;
}
a:hover {
	text-decoration: none;
}
#contributed {
	width: 90%;
	font-size: 28px;
    color: #333;
    font-weight: 500;
    margin-top: 10px;
    line-height: 30px;
}
#contributor {
	color: #2196f3;
    font-size: 22px;
}
#landing-line {
	border: 0.7px solid #2196f3;
}
#recent-blog {
	font-size: 24px;
	font-weight: 500;
}
#blog-post li {
	font-size: 18px;
	color: #6699cc;
}
#blog-post li a, .blog-link {
	color: #000;
}
#landing-copyright {
	font-size: 20px;
	line-height: 24px;
	float: right;
	padding-bottom: 25px;
	color: #000;
}

/* user dashboard */
.dashboard-container {
	padding: 20px 10px 8px 10px;
	margin-left: 50px;
	margin-bottom: -14px;
}
.user-search {
	padding-left: 20px;
	background: #fafafa;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
}
.usersearch {
	position: relative;
	float: right;
    top: -33px;
    right: 20px;
}
.dashboard-row {
	margin-right: -70px;
}
#dashboard-blog {
	font-size: 18px;
    font-weight: 500;
	margin-top: 13px;
}
#dashboard-blog a{
	color: #333;
}
.dashboard-dropdown {
	float: right;
	margin-top: 8px;
}
.create-post {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background: #6699cc;
    border-color: #6699cc;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 4px;
}
.dash-icon {
	display: inline-block;
    position: relative;
    margin-top: 13px;
    width: 25px;
    height: 25px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}
.dash-icon i {
	color: #78abf1;
    font-size: 25px;
}
.dash-icon p {
	display: inline-block;
    width: 15.2px;
    height: 15.2px;
    border-radius: 72px;
    background-color: #fa1212;
    position: relative;
    top: -40px;
    left: 15px;
    font-size: 10.1px;
    line-height: normal;
    padding-left: 5px;
    padding-top: 1px;
}
.dash-icon a p {
	color: #fff;
}
.user-div {
	width: 400px;
	height: 330px;
	margin: 0 auto;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
}
.user-div-right {
	margin-right: 20px;
} 
.user-div-left {
	margin-left: 20px;
}
.user-container {
	padding-top: 40px;
	padding-bottom: 40px;
}
.users {
	color: #6699cc;
	font-size: 24px;
	font-weight: 500;
	padding: 20px 20px 0 20px;
}
.user-line {
	border: 0.7px solid #bdbdbd;
}
.user-number {
	font-size: 36px;
	font-weight: 600;
	color: #3d3d3d;
}
.user-view {
    padding-left: 40px;
    padding-right: 40px;
    background: #6699cc;
    border-color: #6699cc;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    font-size: 22px;
}

/* search result page */
#found {
	font-size: 24px;
	margin-bottom: 15px;
}
#search-container {
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 40px;
}
#welcome-div {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	padding: 15px 15px 0px 15px;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.bold {
	font-weight: bold;
}
#search-div {
	border: 0.7px solid #bdbdbd;
	border-radius: 4px;
}
#return {
	font-size: 18px;
	padding: 15px 5px 0 15px;
}
.result-box {
	border: 1px solid rgba(189, 189, 189, 0.12);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
	border-radius: 4px;
	margin: 20px;
	margin-bottom: 30px;
    padding: 20px;
}
.blog-username {
	font-size: 18px;
	color: #6699cc;
}
.blog-topic {
	font-size: 22px;
	font-weight: 500;
	margin-top: -10px;
}
.blog-content {
	font-size: 16px;
}
.blog-icon {
	color: #dadada;
}
.post-time {
	color: #828282;
	font-weight: 500;
}
.label {
	border: 0.5px solid #e0e0e0;
	color: #4f4f4f;
	font-size: 10px;
}
#comment {
	margin-right: -40px;
}
.label-default {
	background: #f7f7f7;
}
#label-div {
	margin-left: -40px;
}
.blog-next {
	background: #edeef0;
    border: 1px solid #edeef0;
    color: #000;
    font-weight: 500;
}
.blog-arrow {
	margin-left: 25px;
}
/* blog post */
#blogpost-background {
    background: url(../images/blog.png);
    height: 500px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -18px;
}
.flex-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item {
  width: auto;
}
.blog-content {
	padding-top: 30px;
}
.likethepost {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    color: #4a4a4a;
}
.blogtopic {
	font-weight: 500;
	line-height: normal;
	font-size: 32px;
	color: #222222;
}
.blogtopic-div {
	width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}
.blogtopic-details {
	font-size: 24px;
	line-height: 44px;
}
.blogtopic-details p {
	margin-top: 30px;
}
.details-list {
	margin-top: -15px!important;
}
.blog-socials {
	width: 350px;
	margin: 0 auto;
	margin-top: 80px;
}
.facebook-share {
	margin-right: 25px;
	font-size: 20px;
    color: #6699cc;
}
#blogtopic-line {
	border: 0.75px solid #828282;
	transform: matrix(1, 0, 0, 1, 0, 0);
}
#relatedpost-line {
	border: 2px solid #6699CC;
	width: 150px;
	margin-top: 80px;
}
#related-post {
	font-weight: 600;
	line-height: 51px;
	font-size: 28px;
	text-align: center;
	color: #1B1C1C;
}
.panel-heading {
	padding: 0;
}
.relatedpost-topic {
	font-size: 22px;
}
.relatedpost-detail {
	font-size: 16px;
}
.relatedpost-button {
	background: #FFFFFF;
	border: 1px solid #6699CC;
	border-radius: 6px;
	color: #000;
	padding: 6px 40px;
	margin-top: 10px;
    margin-bottom: 20px; 
}
.relatedpost-button:hover {
	background: #6699cc;
	color: #fff;
}
.panel-default {
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	margin-top: 30px;
	margin-bottom: 60px;
}
#comments-div {
	background: rgba(102, 153, 204, 0.03);
	margin-bottom: -10px;
	padding-top: 60px;
	padding-bottom: 60px;
}
#comments {
	font-size: 28px;
}
.commentsdiv {
	background: #FFFFFF;
	border: 0.5px solid #BDBDBD;
	border-radius: 7px;
	margin-top: 20px;
	padding: 20px;
}
.commenter-name {
	font-size: 24px;
	color: #6699cc;
	margin-bottom: 0;
}
.comment-time {
	font-size: 18px;
	color: #4a4a4a;
}
.commenter-comment {
	font-size: 20px;
	color: #333;
} 
.replycomment-line {
	border: 1px solid #E0E0E0;
    transform: rotate(90deg);
    margin-top: 40px;
    text-align: left;
    position: relative;
    left: -39px;
}
.load {
	background: #6699CC;
	border: 0.5px solid #6699CC;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	margin-top: 40px;
	margin-bottom: 13px;
	padding: 10px 40px;
}
.space-left {
	margin-left: -40px;
}


@media screen and (max-width: 767px) {
	#linkedin, #facebook, #twitter {
		margin-bottom: 10px;
	}
	.panel-default {
		width: 300px;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.signin-div {
    	width: 60%;
	}
	.replycomment-line {
    	transform: rotate(0deg);
    	margin-bottom: 10px;
    	left: 0;
	}
	.space-left {
		margin-left: 0;
	}
	.user-div-right {
		margin-right: auto;
		margin-bottom: 20px;
	} .user-div-left {
		margin-left: auto;
		margin-bottom: 20px;
	}
	#nav-container {
		background: #fff;
	}
	#footerlinks-div, .pull-right  {
		float: left!important;
	}
	#newsletter-email {
		width: 60%;
    	float: left;
	}
	#subscribe {
		float: left;
    	margin-left: 5px;
	}
	.dashboard-row {
    	margin-right: 0;
	}
	#label-div {
		margin-left: 0;
	}
	.signin-div {
    	position: relative;
    	z-index: -9999;
	}
}
@media screen and (max-width: 500px) {
	.login {
    	font-size: 25px;
	}
	#signin-button {
		/*width: auto;*/
		font-size: 19px;
	}
	.signin-div {
    	width: 90%; 
	}
	#reset {
    	font-size: 22px;
	}
	.user-div, .blog-socials {
		width: auto;
	}
}
@media screen and (max-width: 330px) {
	#signin-button, .panel-default, .blog-socials {
		width: auto;
	}
}
@media screen and (min-width: 770px) and (max-width: 1000px) {
	.create-post {
		font-size: 15px;
	}
	.user-div {
		width: auto;
	}
	.signin-div {
    	width: 70%;
	}
	#socials-div {
		margin: 60px 0px 60px 5px;
	}
}
@media screen and (min-width: 500px) and (max-width: 768px) {
	.create-row {
        width: 70%;
    }
}